.main__productos .table__container, main.main__ingreso, main.main__registro, .main__nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.btn {
  background-color: #833539;
  color: white;
}

.btn:hover {
  background-color: #461b1b;
  -webkit-box-shadow: 0px 0px 5px 2px #833539;
          box-shadow: 0px 0px 5px 2px #833539;
}

* {
  margin: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  background: -webkit-gradient(linear, left bottom, left top, from(#521b1b), to(#833539));
  background: linear-gradient(to top, #521b1b, #833539);
  -webkit-box-shadow: 1px 3px 16px 0 #000;
          box-shadow: 1px 3px 16px 0 #000;
  color: white;
}

.navbar .navbar__logo {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.navbar .navbar__logo .logo__imag {
  width: 30px;
  height: 30px;
  border-radius: 30%;
}

.navbar .navbar__logo .logo__title {
  font-size: 10px;
  margin-left: 5px;
  color: white;
}

@media screen and (min-width: 576px) {
  .navbar .navbar__logo .logo__title {
    font-size: 8px;
  }
}

.navbar .menu {
  width: 100%;
  padding: 10px;
}

.navbar .menu .menu__item a {
  text-decoration: none;
}

.navbar .menu .menu__item:hover {
  color: #be888b;
}

.navbar .menu .menu__item ul.submenu {
  background: #521b1b;
  color: white;
}

.navbar .menu .menu__item ul.submenu li a:hover {
  background-color: #521b1b;
}

.navbar .menu .menu__item ul.submenu li:hover {
  color: #be888b;
}

@media screen and (min-width: 576px) {
  .navbar .menu {
    max-width: 70%;
  }
}

.slide {
  margin: 80px auto 10px auto;
}

.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #521b1b;
}

.articles .articles__novelties .novelties__title {
  font-weight: 900;
}

.articles .articles__novelties .novelties__paragraph {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
}

.articles .articles__body .articles__cards {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.articles .articles__body .articles__cards .cards__item {
  max-width: 70%;
}

.articles .articles__body .articles__cards .cards__item .cards__imag {
  margin: auto;
  border-radius: 10%;
  overflow: hidden;
  -webkit-transition: all ease-out .2s;
  transition: all ease-out .2s;
}

.articles .articles__body .articles__cards .cards__item .cards__imag:hover {
  -webkit-transform: scale(1.035);
          transform: scale(1.035);
  -webkit-box-shadow: 1px 3px 16px 0 #521b1b;
          box-shadow: 1px 3px 16px 0 #521b1b;
}

.articles .articles__body .articles__cards .cards__item .cards__imag--new {
  -webkit-box-shadow: 6px 6px 2px 1px rgba(233, 0, 0, 0.2);
          box-shadow: 6px 6px 2px 1px rgba(233, 0, 0, 0.2);
}

.articles .articles__body .articles__cards .cards__item .cards__body .cards__paragraph {
  text-decoration: none;
}

.articles .articles__body .articles__cards .cards__item .cards__body .cards__paragraph .cards__text {
  font-weight: 500;
}

.articles aside.references .references__paragraph {
  font-weight: 700;
}

.articles aside.references .references__body .references__videos {
  padding: 15px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}

.articles aside.references .references__body .references__videos .references__videos__item iframe {
  padding: 5px;
  width: 250px;
  height: 130px;
}

@media screen and (min-width: 480px) {
  .articles {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

/* Botones */
/* Regreso al HOME */
.return {
  margin-left: 20px;
  color: #521b1b;
  margin-top: 85px;
}

.return span a {
  text-decoration: none;
  color: #521b1b;
  font-weight: 700;
}

main.main__contacto {
  margin-top: 80px;
  text-align: center;
}

main.main__contacto .contacto__title h1 {
  color: #521b1b;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px;
  text-align: center;
}

main.main__contacto .contacto__form {
  max-width: 350px;
}

main.main__contacto .contacto__form fieldset {
  color: #521b1b;
}

@media screen and (min: width 768px) {
  main.main__contacto {
    width: 50%;
    margin: 80px auto;
  }
}

.main__productos {
  width: 98%;
  /* Tabla de productos */
}

.main__productos .productos__title h2 {
  margin: 10px auto;
  color: #521b1b;
  text-align: center;
  font-weight: 500;
}

.main__productos .container__menuProducto {
  background-color: #521b1b;
  -webkit-box-shadow: 1px 3px 16px 0 #000;
          box-shadow: 1px 3px 16px 0 #000;
}

.main__productos .container__menuProducto .menuProducto__lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

.main__productos .container__menuProducto .menuProducto__lista .menu__item a {
  color: white;
  text-decoration: none;
}

.main__productos .container__menuProducto .menuProducto__lista .menu__item .submenu {
  border-left: 1px solid white;
}

.main__productos .container__menuProducto .menuProducto__lista .menu__item .submenu .submenu__item a {
  text-decoration: none;
}

.main__productos .table__container .table {
  color: #521b1b;
}

main.main__ingreso .ingreso__title h1 {
  color: #521b1b;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px;
  text-align: center;
}

main.main__ingreso .ingreso__form {
  max-width: 350px;
}

main.main__ingreso .ingreso__form fieldset {
  color: #521b1b;
}

main.main__ingreso .ingreso__linkregistro {
  margin-left: 20px;
  color: #521b1b;
  margin-top: 85px;
  padding: 10px;
}

main.main__ingreso .ingreso__linkregistro span a {
  text-decoration: none;
  color: #521b1b;
  font-weight: 700;
}

@media screen and (min: width 768px) {
  main.main__ingreso {
    width: 50%;
    margin: 80px auto;
  }
}

main.main__registro .registro__title h1 {
  color: #521b1b;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px;
  text-align: center;
}

main.main__registro .registro__form {
  max-width: 350px;
}

@media screen and (min: width 768px) {
  main.main__registro {
    width: 50%;
    margin: 80px auto;
  }
}

.main__nosotros {
  margin-top: 60px;
  margin-bottom: 30px;
  color: #521b1b;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

.main__nosotros .nosotros__historia {
  width: 200px;
  text-align: center;
}

.main__nosotros .nosotros__historia .nosotros__title h1 {
  color: #521b1b;
  font-weight: 700;
}

.main__nosotros .nosotros__historia .nosotros__title .nosotros__paragraph {
  color: #521b1b;
}

.main__nosotros aside {
  width: 350px;
}

.main__nosotros aside .nosotros__maps .maps__title {
  color: #521b1b;
}

.main__nosotros aside .nosotros__maps .maps__container {
  -webkit-box-shadow: 0 5px 12px #000;
          box-shadow: 0 5px 12px #000;
  padding-top: 15px;
  margin: 15px;
}

.main__nosotros aside .nosotros__maps .maps__container iframe {
  width: 95%;
}

.main__nosotros aside .nosotros__maps .maps__container .maps__details {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .main__nosotros {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 30px;
  }
}

/* Pagina 404 */
.main__404 {
  font-weight: 700;
}

.main__404 .title__404 {
  letter-spacing: 2px;
}

.main__404 .paragraph__404 {
  letter-spacing: 1.5px;
}

.main__404 .container__return {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__404 .container__return .logo__return {
  width: 30px;
  height: 30px;
  border-radius: 30%;
}

.main__404 .container__return .paragraph__return {
  margin-left: 10px;
}

.main__404 .container__return .paragraph__return span {
  color: #521b1b;
}

.main__404 .container__return .paragraph__return span a {
  text-decoration: none;
}

.main__404 .return__options {
  color: #521b1b;
}

.main__404 .return__options .options__title {
  font-weight: 500;
}

.main__404 .return__options .options__links ul li a {
  text-decoration: none;
}

.main__404 .return__options .options__links ul li a:hover {
  color: #be888b;
}

footer {
  width: 100vw;
  height: auto;
  background: #521b1b;
  color: white;
  text-align: center;
  -webkit-box-shadow: 1px -3px 16px #000;
          box-shadow: 1px -3px 16px #000;
}

footer .footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
}

footer .footer__nav .footer__redes {
  text-align: center;
}

footer .footer__nav .footer__redes .footer__redes__links {
  width: 250px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__nav .footer__redes .footer__redes__links a {
  color: white;
  text-decoration: none;
}

footer .footer__nav .footer__redes .footer__redes__links a img {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 10px;
}

footer .footer__nav .footer__links {
  padding-top: 40px;
}

footer .footer__nav .footer__links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 576px) {
  footer .footer__nav .footer__links ul li {
    padding-bottom: 50px;
  }
}

footer .footer__nav .footer__links ul li a {
  color: white;
  text-decoration: none;
}

footer .footer__nav .footer__links ul li a:hover {
  color: #be888b;
}

footer .footer__nav .footer__contacto {
  text-align: center;
  padding-bottom: 0;
}

footer .footer__nav .footer__contacto .footer__contacto__links {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
}

@media screen and (min-width: 576px) {
  footer .footer__nav .footer__contacto .footer__contacto__links li {
    padding-bottom: 35px;
  }
}

footer .footer__nav .footer__contacto .footer__contacto__links li a {
  color: white;
  text-decoration: none;
}

footer .footer__nav .footer__contacto .footer__contacto__links li a:hover {
  color: #be888b;
}

@media screen and (min-width: 576px) {
  footer .footer__nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 30px;
  }
}

footer .footer__copyright {
  padding-bottom: 10px;
}
/*# sourceMappingURL=styles.css.map */