footer{
    height: auto;
    background: $colorbgfooter;
    color: $colortxtfooter;
    text-align: center;
    box-shadow:1px -3px 16px #000;
    .footer__nav{
        display: flex;
        flex-direction:column;
        justify-content:center;
        padding-top: 10px;
        .footer__redes{
            text-align: center;
            .footer__redes__links{
                width: 250px;
                height: 100px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                a{
                    color: $colortxtfooter;
                    text-decoration: none;
                    img{
                        width: 30px;
                        height: 30px;
                        margin-top: 5px;
                        margin-bottom: 10px;
                        
                    }
                }
            }
        }
        .footer__links{
            padding-top: 40px;
            ul{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                li{
                    @media screen and (min-width:576px){
                        padding-bottom: 50px;
                    }
                    a{
                        color:$colortxtfooter;
                        text-decoration: none;
                        &:hover{
                            color:$colorhover;
                        }
                    }
                }
            }
        }
        .footer__contacto{
            text-align: center;
            padding-bottom: 0;
            .footer__contacto__links{
                flex-direction: column;
                justify-content: center;
                border: none;
                li{
                    @media screen and (min-width:576px){
                        padding-bottom: 35px;
                    }
                    a{
                        color:$colortxtfooter;
                        text-decoration: none;  
                        &:hover{
                            color:$colorhover;
                        }
                    }
                }
            }
        }
        @media screen and (min-width:576px){
            flex-direction: row;
            justify-content: space-around;
            padding-top: 30px;
        }
    }
    .footer__copyright{
        padding-bottom: 10px;
    }
}