
//*página Principal*//
.slide{
    margin: 80px auto 10px auto;
}
.articles{
    display: flex;
    justify-content: center;
    color: $colordark;
    width:100vw;
    .articles__novelties{
        .novelties__title{
            font-weight: 900;
        }
        .novelties__paragraph{
            font-size: 20px;
            font-weight:600;  
            letter-spacing: 2px;
        }
    }
    .articles__body{
        .articles__cards{
            justify-content: center;
            .cards__item{
                max-width: 50%;
                .cards__imag{
                    margin: auto;
                    border-radius: 10%;
                    overflow: hidden;
                    transition: all ease-out .3s;
                    &:hover{
                        transform: scale(1.03);
                        box-shadow: 1px 3px 16px 0 #000;
                    }
                }
                .cards__imag--new{ //*nuevo producto*//
                
                    box-shadow: 6px 6px 2px 1px rgba(233, 0, 0, 0.2);
                }
                .cards__body{
                    .cards__paragraph {
                        text-decoration: none;
                        .cards__text{
                            font-weight: 500;
                        }
                    }
                }
                @media screen and (min-width:576) {
                    max-width: 100%;
                }
            }
        }
    } 
    aside{
        &.references{
            .references__paragraph{
                font-weight: 600;            
            }
            .references__body{                
                .references__title h2{
                    text-align: center;
                } 
                .references__videos{
                    padding: 15px;
                    width: 100%;
                    display: flex;
                    flex-direction:column;
                    align-items:center;
                    .references__videos__item iframe{
                        padding: 5px;
                        width: 250px;
                        height: 130px;
                    }
                }
            }
        }
    }
}
/* Botones */
.btn{
    @extend%btn; 
}
/* Regreso al HOME */
.return{
    @include return;
}
//*página de Contacto*//
main{
    &.main__contacto{
        margin-top:80px;
        text-align: center;
        .contacto__title h1{
            color:$colordark;
            font-size: 2rem;
            font-weight: 700;
            letter-spacing: 2px;
            padding: 10px;
            text-align: center;
        }
        .contacto__form{
            max-width: 350px;
            fieldset{
                color:$colordark;
            }
        }
        @media screen and (min: width 768px){
            width: 50%;
            margin: 80px auto;
        }
    }
}

//*página de Productos*//
.main__productos{
    width: 100vw;
    .productos__title{
        h2{
            margin: 10px auto;
            color: $colordark;
            text-align: center;
            font-weight: 500;
        }
    }
    .container__menuProducto{
        background-color: $colordark;
        box-shadow: 1px 3px 16px 0 #000;
        padding: 15px;
        .menuProducto__lista{
            display: flex;
            flex-direction: column;
            height: auto;
            .menu__item{
                a{  
                    color: $txtcolor;
                    text-decoration: none;
                }
                .submenu{
                    border-left: 1px solid $txtcolor;
                    .submenu__item{
                        a{
                            text-decoration: none;
                        }

                    }
                }
            }
            
            @media screen and (min-width: 768px){
            }
        }
    }
    /* Tabla de productos */
    .table__container{
        @extend%flexMain;
        .table{
            color:$colordark;
        }
    }
}
//*pagina de ingreso*//
main{
    &.main__ingreso{
        @extend%flexMain;
        .ingreso__title h1{
            color:$colordark;
            font-size: 2rem;
            font-weight: 700;
            letter-spacing: 2px;
            padding: 10px;
            text-align: center;
        }
        .ingreso__form{
            max-width: 350px;
            fieldset{
                color:$colordark;
            }
        }
        .ingreso__linkregistro{
            @include return;
            padding: 10px;
        }
        @media screen and (min: width 768px){
            width: 50%;
            margin: 80px auto;
        }
    }
}
//*página de registro*//
main{
    &.main__registro{
        @extend%flexMain;
        .registro__title h1{
            color:$colordark;
            font-size: 2rem;
            font-weight: 700;
            letter-spacing: 2px;
            padding: 10px;
            text-align: center;
        }
        .registro__form{
            max-width: 350px;
        }
        @media screen and (min: width 768px){
            width: 50%;
            margin: 80px auto;
        }
    }
}
//*pagina nosotros*//
.main__nosotros{
    @extend%flexMain;
    margin-top: 80px;
    .nosotros__historia{
        width: 400px;
        margin: auto;
        .nosotros__title{
            h1{
                color:$colordark;
                font-weight: 700;
            }
            .nosotros__paragraph{
                color:$colordark;
            }
        }
        @media screen and (min: width 768px){
            width: 100%;
        }
    }
    .nosotros__maps{
        .maps__title{
            color:$colordark;
            iframe{
                margin: auto;
            }
        }
    }
}
