//*Link de regreso al home y link registro*//
@mixin return{
    margin-left:20px;
    color:$colordark;
    margin-top: 85px;
    span{
        a{
            text-decoration: none;
            color:$colordark;
            font-weight: 700;
        }
    }
}