$txtcolor:rgb(221, 201, 212);
$colordark: rgb(82, 27, 27);
$colorlight: rgb(131, 53, 57);
$colorhover:rgb(190, 136, 139);
$colorbghover:rgb(70, 27, 27);
$colorbgfooter:$colordark;
$colortxtfooter:$txtcolor;
$colorbgbtn:$colorlight;